@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dyzz8o');
  src:  url('fonts/icomoon.eot?dyzz8o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dyzz8o') format('truetype'),
    url('fonts/icomoon.woff?dyzz8o') format('woff'),
    url('fonts/icomoon.svg?dyzz8o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow:before {
  content: "\e900";
}
.icon-Misc:before {
  content: "\e901";
}
.icon-Food:before {
  content: "\e902";
}
.icon-Treatments:before {
  content: "\e903";
}
.icon-Symptoms:before {
  content: "\e904";
}
.icon-Health-A-Z:before {
  content: "\e905";
}
.icon-Search:before {
  content: "\e906";
}
.icon-Email:before {
  content: "\e907";
}
.icon-Menu:before {
  content: "\e908";
}
.icon-Fitness:before {
  content: "\e909";
}
