// Common styling

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    word-break: break-word;
}

textarea {
    resize: none;
    -webkit-resize: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.hideExtra {
    overflow: hidden;
}

.caps {
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;

    @include responsive(1120) {
        padding: 0 20px;
    }

    @include responsive($ipad) {
        width: 100%;
        padding: 0 10px;
    }
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #f7f7f7;

    @include responsive($ipad) {
        @supports (-webkit-overflow-scrolling: touch) {
            cursor: pointer;
        }
    }
}

ul li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    @include vendor(transition, all 0.3s ease-in-out);
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.mobile {
    display: none !important;

    @include responsive($ipad) {
        display: block !important;
    }
}

.desktop {
    @include responsive($ipad) {
        display: none !important;
    }
}

.mob {
    display: none !important;

    @include responsive($mob) {
        display: block !important;
    }
}

.desk {
    @include responsive($mob) {
        display: none !important;
    }
}

.custom-page,
.privacy-page,
div.category-page,
.wrap-404,
.footer-sticky-container {
    min-height: calc(100vh - 363px);
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.red {
    color: $baseRed;
}

.img-wrap {
    text-align: center;

    img {
        display: inline-block;
    }
}

.overlay.active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 9999;

    @include responsive($mob) {
        top: 51px;
    }
}

body {
    &:not(.home) {
        .overlay.active {
            top: 85px;

            @include responsive($mob) {
                top: 51px;
            }
        }
    }
}

h3 {
    margin: 40px 0 30px;
    font-size: 36px;
    color: $baseRed;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

    @include responsive($mob) {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .red {
        color: $baseRed;
    }

    .red-line,
    .white-line {
        font-weight: 600;
    }
}

.cta {
    padding: 10px 20px;
    font-size: 24px;
    color: $white;
    text-transform: capitalize;
    background: $baseRed;
    border-radius: 8px;

    @include responsive($mob) {
        padding: 7px 16px;
        font-size: 21px;
    }

    &:hover {
        background: $baseOrange;
    }
}

.custom-scroll {
    height: 378px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 9px;
        background-color: #ffd8dc;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        @include vendor(box-shadow, inset 0 0 6px rgba(0, 0, 0, .3));
        background: linear-gradient(103deg, #fd5f77 10%, #ff9978 94%);
        ;
    }
}