@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin overlay {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation:$animation;
	-ms-animation:$animation;
	animation:$animation;
}

// Responsive mixin
@mixin responsive($width) {
	@media screen and (max-width: $width + "px"){ @content; }
}

@mixin min-responsiveheight($height) {
	@media screen and (min-height: $height+"px") { @content; }
}

@mixin min-responsive($width) {
	@media screen and (min-width: $width + "px"){ @content; }
}

@mixin orientation-responsive($orient,$width) {
	@media screen and (orientation: $orient) and (max-width: $width + "px") { @content; }
}

@mixin deviceWidth($width) {
	@media screen and (min-device-width: $width + "px") { @content; }
}