// Colors and Bg colors starts here
$trans: transparent;
$black: #000;
$white: #fff;
$baseRed: #942828;
$baseOrange:#CD201F;

// colors and bg colors ends here

// Fonts variables starts here
$font: 'Exo', sans-serif;
// Fonts variables ends here

$big-pc: 2500;
$med-pc: 1800;
$small-pc: 1240;
$ipad: 1024;
$ipad-min: 991;
$mob: 767;
$mob-min: 479;