/*
Theme Name: TubeHack
*/
/* ==========================================================================
1. CSS Reset Code
========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 30vw;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  border-radius: 0;
}

input[type=button]:focus,
input[type=submit]:focus,
button:focus {
  outline: none;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  background: transparent;
}

input {
  word-wrap: normal;
  word-break: normal;
}

/* 1.2. Clear Fix
========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

* {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

textarea {
  overflow: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}

textarea {
  resize: none;
  -webkit-resize: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.hideExtra {
  overflow: hidden;
}

.caps {
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
@media screen and (max-width: 1120px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 10px;
  }
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f7f7f7;
}
@media screen and (max-width: 1024px) {
  @supports (-webkit-overflow-scrolling: touch) {
    body {
      cursor: pointer;
    }
  }
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.mobile {
  display: none !important;
}
@media screen and (max-width: 1024px) {
  .mobile {
    display: block !important;
  }
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: none !important;
  }
}

.mob {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .mob {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  .desk {
    display: none !important;
  }
}

.custom-page,
.privacy-page,
div.category-page,
.wrap-404,
.footer-sticky-container {
  min-height: calc(100vh - 363px);
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.red {
  color: #942828;
}

.img-wrap {
  text-align: center;
}
.img-wrap img {
  display: inline-block;
}

.overlay.active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 9999;
}
@media screen and (max-width: 767px) {
  .overlay.active {
    top: 51px;
  }
}

body:not(.home) .overlay.active {
  top: 85px;
}
@media screen and (max-width: 767px) {
  body:not(.home) .overlay.active {
    top: 51px;
  }
}

h3 {
  margin: 40px 0 30px;
  font-size: 36px;
  color: #942828;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
h3 .red {
  color: #942828;
}
h3 .red-line,
h3 .white-line {
  font-weight: 600;
}

.cta {
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  background: #942828;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .cta {
    padding: 7px 16px;
    font-size: 21px;
  }
}
.cta:hover {
  background: #CD201F;
}

.custom-scroll {
  height: 378px;
  overflow-y: auto;
}
.custom-scroll::-webkit-scrollbar {
  width: 9px;
  background-color: #ffd8dc;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(103deg, #fd5f77 10%, #ff9978 94%);
}

header {
  padding: 5px 0;
  position: absolute;
  width: 100%;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper h1 {
  max-width: 80px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  header .wrapper h1 {
    max-width: 70px;
  }
}
header .wrapper h1 img {
  height: auto;
}
header .wrapper .menu-primary-menu-container .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item {
  margin-left: 15px;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item.cta {
  padding: 0;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item.cta a {
  padding: 10px 20px;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item.cta a:hover {
  color: #fff;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item a {
  font-size: 18px;
  font-weight: 600;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item a:hover {
  color: #942828;
}
header .wrapper .menu-primary-menu-container .menu li.menu-item.current_page_item a {
  color: #942828;
  border-bottom: 2px solid #942828;
}
header .wrapper .menu-cat .menu-primary-menu-container {
  display: block;
}
@media screen and (max-width: 767px) {
  header .wrapper .menu-cat .hide.hamburger {
    display: inline-block;
  }
}
header .wrapper .menu-cat .hide.close-menu {
  width: 25px;
}
@media screen and (max-width: 767px) {
  header .wrapper .menu-cat .menu-primary-menu-container {
    display: none;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    left: 0;
    background: #000;
    height: 100vh;
    z-index: 9;
    top: 80px;
  }
  header .wrapper .menu-cat .menu-primary-menu-container .menu {
    flex-flow: column;
  }
  header .wrapper .menu-cat .menu-primary-menu-container .menu li {
    padding: 10px 0;
    margin: 0 0 10px;
  }
  header .wrapper .menu-cat .menu-primary-menu-container .menu li a {
    font-size: 20px;
    color: #fff;
  }
}

.banner {
  padding: 90px 0 80px;
  background: url(./assets/img/dark-bg.jpg);
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .banner {
    padding-top: 80px;
  }
}
@media screen and (max-width: 479px) {
  .banner {
    padding-bottom: 0;
  }
}
.banner .wrapper {
  padding-left: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .banner .wrapper {
    padding-left: 15px;
  }
}
@media screen and (max-width: 479px) {
  .banner .wrapper {
    flex-flow: column wrap;
    padding: 0;
  }
}
.banner__left {
  position: relative;
  width: 30%;
  text-align: center;
  max-width: 350px;
}
@media screen and (max-width: 767px) {
  .banner__left {
    width: 38%;
    margin-top: 0;
  }
}
@media screen and (max-width: 479px) {
  .banner__left {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
}
.banner__left:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background: #942828;
  left: -5px;
  top: 10%;
  border-radius: 40px;
}
.banner__left img {
  border-radius: 4px;
  position: relative;
  left: 40px;
  top: 30px;
  max-width: 280px;
}
@media screen and (max-width: 767px) {
  .banner__left img {
    left: 8px;
    top: 20px;
  }
}
.banner__right {
  width: 65%;
  padding: 0 30px 0 120px;
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .banner__right {
    padding-left: 80px;
  }
}
@media screen and (max-width: 767px) {
  .banner__right {
    padding: 0 0 0 30px;
    width: 62%;
  }
}
@media screen and (max-width: 479px) {
  .banner__right {
    width: 100%;
    padding: 40px;
    position: relative;
    z-index: 2;
    margin-top: -70px;
    background: rgba(255, 255, 255, 0.4);
  }
}
.banner__right--logo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .banner__right--logo {
    margin-bottom: 10px;
  }
}
.banner__right--logo img {
  max-width: 100px;
}
@media screen and (max-width: 991px) {
  .banner__right--logo img {
    max-width: 75px;
  }
}
@media screen and (max-width: 767px) {
  .banner__right--logo img {
    max-width: 60px;
  }
}
.banner__right--logo span {
  padding-left: 5px;
  font-size: 58px;
  font-weight: 600;
  color: #942828;
}
@media screen and (max-width: 991px) {
  .banner__right--logo span {
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  .banner__right--logo span {
    font-size: 32px;
  }
}
.banner__right h2 {
  font-size: 42px;
  color: #CD201F;
  margin-bottom: 5px;
}
.banner__right--desc {
  margin-bottom: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}
@media screen and (max-width: 991px) {
  .banner__right--desc {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .banner__right--desc {
    font-size: 16px;
  }
}

.screenshots {
  width: 100%;
  margin: 0 auto;
  background: rgba(148, 40, 40, 0.1);
  padding: 0 0 80px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .screenshots {
    padding-bottom: 70px;
  }
}
.screenshots h3 {
  margin-bottom: 38px;
}
@media screen and (max-width: 767px) {
  .screenshots h3 {
    margin-bottom: 21px;
  }
}
.screenshots__slider {
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .screenshots__slider {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .screenshots__slider {
    width: 95%;
  }
}
.screenshots__slider .slick-list {
  overflow: visible;
}
.screenshots__slider .slick-slide {
  margin: 0 15px;
  opacity: 0.3;
}
.screenshots__slider .slick-slide {
  transition: 0.3s;
}
.screenshots__slider .slick-slide:not(.slick-active) {
  pointer-events: none;
}
.screenshots__slider .slick-slide.slick-active {
  opacity: 1;
  transform: scale(1.05);
}
.screenshots__slider .slick-slide.slick-active li a:hover h4 {
  color: #942828;
}
.screenshots__slider li {
  width: 25%;
  margin-right: 30px;
  -webkit-box-shadow: 0.3px 1px 10px 0 rgba(153, 153, 153, 0.21);
  -moz-box-shadow: 0.3px 1px 10px 0 rgba(153, 153, 153, 0.21);
  -ms-box-shadow: 0.3px 1px 10px 0 rgba(153, 153, 153, 0.21);
  -o-box-shadow: 0.3px 1px 10px 0 rgba(153, 153, 153, 0.21);
  box-shadow: 0.3px 1px 10px 0 rgba(153, 153, 153, 0.21);
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .screenshots__slider li {
    margin-right: 15px;
  }
}
.screenshots__slider li a {
  width: 100%;
  padding: 40px 36px;
}
@media screen and (max-width: 1024px) {
  .screenshots__slider li a {
    padding: 15px;
  }
}
.screenshots__slider li h4 {
  height: 50px;
  overflow: hidden;
  font-size: 20px;
  padding: 4px 8px;
  font-weight: 400;
  line-height: 1;
  color: #942828;
  text-transform: capitalize;
}
.screenshots__slider li .img-wrap {
  margin-bottom: 30px;
}
.screenshots__slider .slick-prev,
.screenshots__slider .slick-next {
  width: 42px;
  height: 36px;
  background: url(./assets/img/cta-slider.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: 9;
  opacity: 1;
  right: -55px;
}
@media screen and (max-width: 767px) {
  .screenshots__slider .slick-prev,
.screenshots__slider .slick-next {
    top: auto;
    bottom: -70px;
    width: 30px;
    height: 30px;
    right: calc(50% - 30px);
  }
}
.screenshots__slider .slick-prev:before,
.screenshots__slider .slick-next:before {
  display: none;
}
.screenshots__slider .slick-prev:hover,
.screenshots__slider .slick-next:hover {
  color: inherit;
  background: url(./assets/img/cta-slider.png);
  opacity: 0.8;
  background-size: cover;
}
.screenshots__slider .slick-prev {
  left: -55px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -moz-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  -o-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
}
@media screen and (max-width: 767px) {
  .screenshots__slider .slick-prev {
    left: auto;
    right: calc(50% + 30px);
  }
}

.custom__single {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.custom__single.bg-wrap {
  position: relative;
}
.custom__single.bg-wrap:before {
  content: "";
  background: #942828;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: 30px;
  right: -30px;
  max-width: 500px;
}
@media screen and (max-width: 1024px) {
  .custom__single.bg-wrap:before {
    width: 40%;
    right: -10px;
    bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .custom__single.bg-wrap:before {
    width: 100%;
    max-height: 200px;
    top: -20px;
    left: 20px;
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 767px) {
  .custom__single {
    flex-flow: column;
  }
}
.custom__single--content {
  max-width: 50%;
  padding-right: 40px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .custom__single--content {
    width: 100%;
    max-width: none;
    padding: 0;
    text-align: center;
    order: 2;
  }
}
.custom__single--content h3 {
  margin: 0 0 10px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
}
@media screen and (max-width: 991px) {
  .custom__single--content h3 {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .custom__single--content h3 {
    font-size: 24px;
    text-align: center;
  }
}
.custom__single--content .desc {
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 991px) {
  .custom__single--content .desc {
    font-size: 18px;
  }
}
.custom__single--img {
  position: relative;
  height: 570px;
  overflow: hidden;
}
.custom__single--img img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 767px) {
  .custom__single--img img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .custom__single--img {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .custom__single--img {
    width: 100%;
    height: auto;
    order: 1;
    padding: 0;
    margin: 0 0 20px;
  }
}
.custom__single:nth-child(even).bg-wrap:before {
  left: -30px;
}
@media screen and (max-width: 767px) {
  .custom__single:nth-child(even).bg-wrap:before {
    left: 20px;
  }
}
.custom__single:nth-child(even) .custom__single--content {
  order: 2;
  padding: 0 0 0 40px;
}
@media screen and (max-width: 767px) {
  .custom__single:nth-child(even) .custom__single--content {
    padding: 0;
  }
}
.custom__single:nth-child(even) .custom__single--img {
  order: 1;
}
@media screen and (max-width: 1024px) {
  .custom__single:nth-child(even) .custom__single--img {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .custom__single:nth-child(even) .custom__single--img {
    padding: 0;
    margin-bottom: 20px;
  }
}

.banner.download {
  margin-bottom: 0;
  position: relative;
  z-index: -1;
  background-size: cover;
}
.banner.download .wrapper {
  display: block;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .banner.download .wrapper {
    padding: 0 15px;
  }
}
.banner.download:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.banner.download h2 {
  padding: 60px 0;
  font-size: 48px;
  font-weight: 600;
  color: #942828;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .banner.download h2 {
    font-size: 28px;
    padding: 30px 0 50px;
  }
}

.old-versions {
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .old-versions {
    padding: 40px 0;
  }
}
.old-versions h3 {
  margin: 0 0 20px;
}
@media screen and (max-width: 767px) {
  .old-versions h3 {
    margin-bottom: 0;
  }
}
.old-versions--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.old-versions--wrap .version-single {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.old-versions--wrap .version-single:nth-child(even) {
  background-color: rgba(148, 40, 40, 0.1);
}
.old-versions--wrap .version-single h4 {
  color: #942828;
  font-size: 22px;
  margin-bottom: 5px;
}
.old-versions--wrap .version-single h4 a {
  text-decoration: underline;
}
.old-versions--wrap .version-single h4 a:hover {
  text-decoration: none;
}
.old-versions--wrap .version-single .desc li {
  padding-left: 15px;
  position: relative;
  font-size: 18px;
  margin-bottom: 3px;
}
.old-versions--wrap .version-single .desc li span {
  font-size: 20px;
  font-weight: 600;
  padding-right: 4px;
  color: #942828;
}

.about-details {
  padding: 30px 0;
}
.about-details a {
  text-decoration: underline;
}
.about-details a:hover {
  color: #942828;
}
.about-details h4 {
  font-size: 20px;
  color: #CD201F;
  margin-bottom: 20px;
}
.about-details .single {
  margin-bottom: 20px;
}
.about-details .single h5 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #942828;
}
.about-details .single .desc {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.share {
  padding: 30px 0 60px;
  margin-bottom: 30px;
  background: rgba(148, 40, 40, 0.1);
}
@media screen and (max-width: 767px) {
  .share {
    margin-bottom: 20px;
    padding: 20px 0 30px;
  }
}
.share .menu-share-links-container .menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
@media screen and (max-width: 767px) {
  .share .menu-share-links-container .menu {
    justify-content: flex-start;
  }
}
.share .menu-share-links-container .menu li {
  flex-basis: 10%;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .share .menu-share-links-container .menu li {
    flex-basis: 20%;
  }
}
@media screen and (max-width: 767px) {
  .share .menu-share-links-container .menu li {
    flex-basis: 50%;
  }
}
.share .menu-share-links-container .menu li a {
  display: flex;
  flex-flow: column;
  text-align: center;
}
.share .menu-share-links-container .menu li a img {
  max-width: 45px;
  margin: 0 auto;
  padding: 0;
}
.share .menu-share-links-container .menu li a span {
  padding: 0;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

footer {
  width: 100%;
}
footer .footer-wrap {
  padding: 32px 0 48px;
  border-bottom: 1px solid #717171;
  background-color: #222;
  color: #fff;
}
@media screen and (max-width: 767px) {
  footer .footer-wrap {
    padding: 15px 0 25px;
  }
}
footer .footer-wrap--about {
  min-width: 400px;
  width: 40%;
  padding-right: 50px;
  float: left;
}
@media screen and (max-width: 767px) {
  footer .footer-wrap--about {
    width: 100%;
    max-width: 500px;
    padding-right: 30px;
    margin-bottom: 30px;
    display: block;
    float: none;
  }
}
@media screen and (max-width: 479px) {
  footer .footer-wrap--about {
    padding-right: 0;
  }
}
footer .footer-wrap--about h6 {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
footer .footer-wrap--about h6 a {
  max-width: 80px;
  width: 100%;
}
footer .footer-wrap--about h6 a img {
  height: auto;
}
footer .footer-wrap--about h6 span {
  font-size: 48px;
  font-weight: 600;
}
footer .footer-wrap--about .desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.64;
  opacity: 0.8;
}
footer .footer-wrap--right {
  width: 40%;
  float: right;
  text-align: right;
}
@media screen and (max-width: 767px) {
  footer .footer-wrap--right {
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: left;
  }
}
@media screen and (max-width: 479px) {
  footer .footer-wrap--right {
    text-align: center;
  }
}
footer .copy-wrap {
  padding: 15px 0 19px;
  background-color: #222;
  text-align: center;
}
footer .copy-wrap p {
  font-size: 13px;
  font-weight: 300;
  opacity: 0.8;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
