.about-details {
    padding: 30px 0;

    a {
        text-decoration: underline;

        &:hover {
            color: $baseRed;
        }
    }

    h4 {
        font-size: 20px;
        color: $baseOrange;
        margin-bottom: 20px;
    }

    .single {
        margin-bottom: 20px;

        h5 {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: $baseRed;
        }

        .desc {
            font-size: 16px;
            color: rgba(0, 0, 0, .7);
        }
    }
}