.banner {
    &.download {
        margin-bottom: 0;
        position: relative;
        z-index: -1;
        background-size: cover;

        .wrapper {
            display: block;
            padding: 0 20px;

            @include responsive($mob) {
                padding: 0 15px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
        }
        h2 {
            padding: 60px 0;
            font-size: 48px;
            font-weight: 600;
            color: $baseRed;
            text-transform: uppercase;
            text-align: center;

            @include responsive($mob) {
                font-size: 28px;
                padding: 30px 0 50px;
            }
        }
    }
}

// .lts-banner {
//     padding: 60px 0;
//     text-align: center;
//     background: rgba(148, 40, 40, 0.1);

//     h3 {
//         margin: 0;
//     }

//     .desc {
//         margin-bottom: 20px;

//         li {
//             font-size: 18px;
//         }
//     }
// }

.old-versions {
    padding: 60px 0;

    @include responsive($mob) {
        padding: 40px 0;
    }

    h3 {
        margin: 0 0 20px;

        @include responsive($mob) {
            margin-bottom: 0;
        }
    }

    &--wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;

        .version-single {
            width: 100%;
            padding: 20px;
            text-align: center;

            &:nth-child(even) {
                background-color: rgba(148, 40, 40, 0.1);
            }

            h4 {
                color: $baseRed;
                font-size: 22px;
                margin-bottom: 5px;
                
                a {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .desc {
                li {
                    padding-left: 15px;
                    position: relative;
                    font-size: 18px;
                    margin-bottom: 3px;

                    span {
                        font-size: 20px;
                        font-weight: 600;
                        padding-right: 4px;
                        color: $baseRed;
                    }
                }
            }
        }
    }
}