footer {
    width: 100%;
    
    .footer-wrap {
        padding: 32px 0 48px;
        border-bottom: 1px solid #717171;
        background-color: #222;
        color: $white;

        @include responsive($mob) {
            padding: 15px 0 25px;
        }

        &--about {
            min-width: 400px;
            width: 40%;
            padding-right: 50px;
            float: left;

            @include responsive($mob) {
                width: 100%;
                max-width: 500px;
                padding-right: 30px;
                margin-bottom: 30px;
                display: block;
                float: none;
            }

            @include responsive($mob-min) {
                padding-right: 0;
            }

            h6 {
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                
                a {
                    max-width: 80px;
                    width: 100%;

                    img {
                        height: auto;
                    }
                }
                span {
                    font-size: 48px;
                    font-weight: 600;
                }
            }

            .desc {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.64;
                opacity: .8;
            }
        }

        &--right {
            width: 40%;
            float: right;
            text-align: right;

            @include responsive($mob) {
                width: 100%;
                margin: 0 auto;
                float: none;
                text-align: left;
            }

            @include responsive($mob-min) {
                text-align: center;
            }
        }
    }

    .copy-wrap {
        padding: 15px 0 19px;
        background-color: #222;
        text-align: center;

        p {
            font-size: 13px;
            font-weight: 300;
            opacity: .8;
            color: #fff;
        }
    }
}