header {
    padding: 5px 0;
    position: absolute;
    width: 100%;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            max-width: 80px;
            overflow: hidden;

            @include responsive($mob) {
                max-width: 70px;
            }

            img {
                height: auto;
            }
        }

        .menu-primary-menu-container .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li.menu-item {
                margin-left: 15px;

                &.cta {
                    padding: 0;

                    a {
                        padding: 10px 20px;

                        &:hover {
                            color: #fff;
                        }
                    }
                }

                a {
                    font-size: 18px;
                    font-weight: 600;

                    &:hover {
                        color: $baseRed;
                    }
                }

                &.current_page_item {
                    a {
                        color: $baseRed;
                        border-bottom: 2px solid $baseRed;
                    }
                }
            }
        }

        .menu-cat {
            .menu-primary-menu-container {
                display: block;
            }
            .hide.hamburger {
                @include responsive($mob) {
                    display: inline-block;
                }
            }

            .hide.close-menu {
                width: 25px;
            }

            .menu-primary-menu-container {
                @include responsive($mob) {
                    display: none;
                    padding: 30px 0;
                    position: fixed;
                    width: 100%;
                    left: 0;
                    background: #000;
                    height: 100vh;
                    z-index: 9;
                    top: 80px;

                    .menu {
                        flex-flow: column;

                        li {
                            padding: 10px 0;
                            margin: 0 0 10px;

                            a {
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}