.custom {
    &__single {
        margin-bottom: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &.bg-wrap {
            position: relative;

            &:before {
                content: '';
                background: $baseRed;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                bottom: 30px;
                right: -30px;
                max-width: 500px;

                @include responsive($ipad) {
                    width: 40%;
                    right: -10px;
                    bottom: 20px;
                }

                @include responsive($mob) {
                    width: 100%;
                    max-height: 200px;
                    top: -20px;
                    left: 20px;
                    max-width: calc(100% - 40px);
                }
            }
        }

        @include responsive($mob) {
            flex-flow: column;
        }

        &--content {
            max-width: 50%;
            padding-right: 40px;
            text-align: left;

            @include responsive($mob) {
                width: 100%;
                max-width: none;
                padding: 0;
                text-align: center;
                order: 2;
            }

            h3 {
                margin: 0 0 10px;
                font-size: 48px;
                line-height: 1.1;
                font-weight: 600;
                text-align: left;
                text-transform: capitalize;

                @include responsive($ipad-min) {
                    font-size: 32px;
                }

                @include responsive($mob) {
                    font-size: 24px;
                    text-align: center;
                }
            }

            .desc {
                font-size: 20px;
                line-height: 1.5;

                @include responsive($ipad-min) {
                    font-size: 18px;
                }
            }
        }

        &--img {
            position: relative;
            height: 570px;
            overflow: hidden;

            img {
                height: 100%;
                width: auto;

                @include responsive($mob) {
                    width: 100%;
                    height: auto;
                }
            }

            @include responsive($ipad) {
                margin-right: 20px;
            }

            @include responsive($mob) {
                width: 100%;
                height: auto;
                order: 1;
                padding: 0;
                margin: 0 0 20px;
            }
        }

        &:nth-child(even) {
            &.bg-wrap:before {
                left: -30px;

                @include responsive($mob) {
                    left: 20px;
                }
            }
            .custom__single--content {
                order: 2;
                padding: 0 0 0 40px;

                @include responsive($mob) {
                    padding: 0;
                }
            }

            .custom__single--img {
                order: 1;

                @include responsive($ipad) {
                    padding: 0 0 0 20px;
                }

                @include responsive($mob) {
                    padding: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}