.banner {
    padding: 90px 0 80px;
    background: url(./assets/img/dark-bg.jpg);
    background-size: cover;

    @include responsive($mob) {
        padding-top: 80px;
    }

    @include responsive($mob-min) {
        padding-bottom: 0;
    }

    .wrapper {
        padding-left: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        @include responsive($mob) {
            padding-left: 15px;
        }

        @include responsive($mob-min) {
            flex-flow: column wrap;
            padding: 0;
        }
    }

    &__left {
        position: relative;
        width: 30%;
        text-align: center;
        max-width: 350px;

        @include responsive($mob) {
            width: 38%;
            margin-top: 0;
        }

        @include responsive($mob-min) {
            width: 90%;
            max-width: 300px;
            margin: 0 auto;
        }

        &:before {
            content: '';
            position: absolute;
            width: 90%;
            height: 90%;
            background: $baseRed;
            left: -5px;
            top: 10%;
            border-radius: 40px;
        }

        img {
            border-radius: 4px;
            position: relative;
            left: 40px;
            top: 30px;
            max-width: 280px;

            @include responsive($mob) {
                left: 8px;
                top: 20px;
            }
        }
    }

    &__right {
        width: 65%;
        padding: 0 30px 0 120px;
        margin-top: 30px;

        @include responsive($ipad-min) {
            padding-left: 80px;
        }

        @include responsive($mob) {
            padding: 0 0 0 30px;
            width: 62%;
        }

        @include responsive($mob-min) {
            width: 100%;
            padding: 40px;
            position: relative;
            z-index: 2;
            margin-top: -70px;
            background: rgba(255, 255, 255, 0.4);
        }

        &--logo {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include responsive($ipad-min) {
                margin-bottom: 10px;
            }

            img {
                max-width: 100px;

                @include responsive($ipad-min) {
                    max-width: 75px;
                }

                @include responsive($mob) {
                    max-width: 60px;
                }
            }

            span {
                padding-left: 5px;
                font-size: 58px;
                font-weight: 600;
                color: $baseRed;

                @include responsive($ipad-min) {
                    font-size: 42px;
                }

                @include responsive($mob) {
                    font-size: 32px;
                }
            }
        }

        h2 {
            font-size: 42px;
            color: $baseOrange;
            margin-bottom: 5px;
        }

        &--desc {
            margin-bottom: 20px;
            font-size: 18px;
            color: rgba(0, 0, 0, .5);
            line-height: 1.5;

            @include responsive($ipad-min) {
                margin-bottom: 10px;
                font-size: 16px;
            }

            @include responsive($mob) {
                font-size: 16px;
            }
        }
    }
}