.screenshots {
    width: 100%;
    margin: 0 auto;
    background: rgba(148, 40, 40, 0.1);
    padding: 0 0 80px;
    overflow: hidden;

    @include responsive($mob) {
        padding-bottom: 70px;
    }

    h3 {
        margin-bottom: 38px;

        @include responsive($mob) {
            margin-bottom: 21px;
        }
    }

    &__slider {
        max-width: 300px;
        margin: 0 auto;

        @include responsive($mob) {
            width: 75%;
            margin: 0 auto;
        }

        @include responsive($mob-min) {
            width: 95%;
        }

        .slick-list {
            overflow: visible;
        }

        .slick-slide {
            margin: 0 15px;
            opacity: .3;
        }

        .slick-slide {
            transition: .3s;

            &:not(.slick-active) {
                pointer-events: none;
            }

            &.slick-active {
                opacity: 1;
                transform: scale(1.05);

                li {
                    a {
                        &:hover {
                            h4 {
                                color: $baseRed;
                            }
                        }
                    }
                }
            }
        }

        li {
            width: 25%;
            margin-right: 30px;
            @include vendor(box-shadow, 0.3px 1px 10px 0 rgba(153, 153, 153, 0.21));
            background-color: #fff;

            @include responsive($ipad) {
                margin-right: 15px;
            }

            a {
                width: 100%;
                padding: 40px 36px;

                @include responsive($ipad) {
                    padding: 15px;
                }
            }

            h4 {
                height: 50px;
                overflow: hidden;
                font-size: 20px;
                padding: 4px 8px;
                font-weight: 400;
                line-height: 1;
                color: $baseRed;
                text-transform: capitalize;
            }

            .img-wrap {
                margin-bottom: 30px;
            }
        }

        .slick-prev,
        .slick-next {
            width: 42px;
            height: 36px;
            background: url(./assets/img/cta-slider.png) !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            z-index: 9;
            opacity: 1;
            right: -55px;

            @include responsive($mob) {
                top: auto;
                bottom: -70px;
                width: 30px;
                height: 30px;
                right: calc(50% - 30px);
            }

            &:before {
                display: none;
            }

            &:hover {
                color: inherit;
                background: url(./assets/img/cta-slider.png);
                opacity: .8;
                background-size: cover;
            }
        }

        .slick-prev {
            left: -55px;
            @include vendor(transform, translate(0, -50%) rotate(180deg));

            @include responsive($mob) {
                left: auto;
                right: calc(50% + 30px);
            }
        }
    }
}