.share {
    padding: 30px 0 60px;
    margin-bottom: 30px;
    background: rgba(148, 40, 40, 0.1);

    @include responsive($mob) {
        margin-bottom: 20px;
        padding: 20px 0 30px;
    }

    .menu-share-links-container {
        .menu {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;

            @include responsive($mob) {
                justify-content: flex-start;
            }

            li {
                flex-basis: 10%;
                margin-bottom: 10px;

                @include responsive($ipad) {
                    flex-basis: 20%;
                }

                @include responsive($mob) {
                    flex-basis: 50%;
                }

                a {
                    display: flex;
                    flex-flow: column;
                    text-align: center;

                    img {
                        max-width: 45px;
                        margin: 0 auto;
                        padding: 0;
                    }

                    span {
                        padding: 0;
                        margin-top: 5px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}